.leaderboard-container {
    min-height: 1000px;
    padding: 100px 0;
    /* background: linear-gradient(rgba(0,0,0,0), #1D140E), url('../../assets/img/wallpaperflare.com_wallpaper (12).jpg'); */
    background-repeat: no-repeat;
}