.bg-training{
  background-image: url("../../../assets/img/components/Training/treino.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1400px) {
  .bg-training{
    background-image: url("../../../assets/img/components/Training/treino.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}