.omni-pagination li {
    display: inline-block;
    margin-left: 4px;
    float: left;
}

.omni-pagination li a {
    display: inline-block;
    border: 1px solid #420f00;
    padding: 0;
    height: auto;
    background: url('../../assets/img/components/pagination/button.png') -35px -130px;
    box-shadow: 0 0 3px #000;
}

.omni-pagination li a:hover, .omni-pagination .omni-selected-item {
    background-position: -55px -169px;
    border-color: #811d00 !important;
}

.omni-pagination li a:hover span, .omni-pagination .omni-selected-item span  {
    color: #f7f1e7 !important;
    border: 1px solid #a07c6a;
}

.omni-pagination li a {
    display: inline-block;
    border: 1px solid #420f00;
    padding: 0;
    height: auto;
    background: url('../../assets/img/components/pagination/button.png') -35px -128px;
    box-shadow: 0 0 3px #000;
}

.omni-pagination li a span {
    padding: 0 7px;
    display: block;
    margin: 0;
    padding: 0 9px;
    border: 1px solid #62351f;
    border-top-color: #734a32;
    height: 27px;
    line-height: 26px;
    font-size: 11px;
    font-weight: 600;
    color: #ffcb8d;
    text-align: center;
    cursor: pointer;
}