[submodule "OmniKingdoms"]
	path = OmniKingdoms
	url = https://github.com/OmniKingdoms/OmniKingdoms
[submodule "Deployment"]
	path = Deployment
	url = https://github.com/Omni-Kingdoms/Deployment
[submodule "mantle-deployment"]
	path = mantle-deployment
	url = https://github.com/Omni-Kingdoms/mantle-deployment
