.omni-btn {
    background-repeat: no-repeat;
    background-position: left, right, center;
    background-size: 10rem 100%, 10rem 100%, 60% 100%;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    padding: 10px 60px;
    white-space: pre-wrap;
    text-align: center;
    height: 72px;

    font-size: 20px;
    font-family: 'exocet';
}

.omni-btn:hover {
    filter: contrast(90%);
}

.omni-btn-default {
    background-image: url('../../assets/img/components/button/secondary-button-left.webp'), url('../../assets/img/components/button/secondary-button-right.webp'), url('../../assets/img/components/button/secondary-button-center.webp');
}

.omni-btn-primary {
    background-image: url('../../assets/img/components/button/primary-button-left.webp'), url('../../assets/img/components/button/primary-button-right.webp'), url('../../assets/img/components/button/secondary-button-center.webp');
}