.text-min {
  font-size: 0.6rem /* 14px */;
  line-height: 1.1rem /* 20px */;
}

.mask {
  -webkit-mask-image: url("../../assets/img/components/PlayerCard/mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 52% 0%;
}

.-top-100 {
  top: -36.4rem;
  left: -0.5rem;
}

.-left-53 {
  left: -12.7rem;
}
.w-38 {
  width: 9.688rem;
}

.-left-33 {
  left: -8.5rem /* -128px */;
}

.quest {
  color: #f1e3cd;
  text-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  font-family: var(--font-opens_sans);
  font-style: normal;
  letter-spacing: 0.15px;
}

.name {
  color: #543923;
  font-family: var(--font-opens_sans);
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

.consumable-bag {
  background-image: url("../../assets/img/components/PlayerCard/consumables_bag_bg.png");
  background-size: contain;
}

.mr-29 {
  margin-right: 7.87rem;
}

.-left-73 {
  left: -18.5rem;
}

.top-35 {
  top: 16.5rem;
}

.w-38 {
  width: 9.5rem;
}

.stats {
  color: #fff;
  font-family: var(--font-opens_sans);
  font-style: normal;
  letter-spacing: 0.176px;
}

.back-text {
  color: #fff;
  font-family: var(--font-opens_sans);
  font-size: 18.476px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18.476px */
  letter-spacing: 0.277px;
}

.swiper-button-next {
  top: 80%;
  right: 37%;
  width: 80px;
  height: 20px;
  background-color: #643a28;
  border: 1px solid #fff;
  transform: skewY(-5deg);
}

.potion-item p {
  color: #ffffff;
}

.consumable-bag button:disabled p {
  color: #999999;
}
