.topbar-container {
    background: url('../../assets/img/topbar.jpg'), linear-gradient(180deg, rgba(56, 69, 78, 0.24) 0%, #121212 100%), #121212;
    background-blend-mode: overlay, normal, normal;
    box-shadow: inset 0px -0.5px 1px rgba(255, 255, 255, 0.24);
    background-repeat: no-repeat;

    padding: auto 100px;
}

.topbar-main-panel ul {
    margin-left: 230px;
    display: flex;
}

.topbar-main-panel li {
    padding: 12px 40px;
    list-style-type: none;
    transform: skew(-20deg);

    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.topbar-main-panel a:hover {
    color: #ffffff;
}

.topbar-main-panel a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 2px;
    transform: skew(20deg);

    color: rgba(255, 255, 255, 0.6);
}

.topbar-navitem {
    transform: skew(20deg);
}

.topbar-logo-panel {
    margin-left: 100px;
}

.topbar-trapezoid {
    margin-top: -15px;
    position: absolute;
    width: 150px;
    height: 105px;
    background: url('../../assets/img/logo-panel.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}