.bg-dungeon {
  background-image: url("../../../assets/img/components/Dungeon/map.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1400px) {
  .bg-dungeon {
    background-image: url("../../../assets/img/components/Dungeon/map.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
