.training-clickable {
  width: 28%;
  height: 20%;

  left: 70%;
  top: 15%;
}

.quest-clickable {
  width: 20%;
  height: 14%;

  left: 8%;
  top: 18%;
}

.shop-clickable {
  width: 16%;
  height: 14%;

  left: 18%;
  top: 32%;
}

.dungeon-clickable {
  width: 24%;
  height: 18%;

  left: 50%;
  top: 1%;

  background-position: 20% 50%;
}