.text-min {
  font-size: 0.6rem /* 14px */;
  line-height: 1.1rem /* 20px */;
}

.mask {
  -webkit-mask-image: url("../../assets/img/components/PlayerCard/mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 52% 0%;
}

.card {
  background-image: url("../../assets/img/Paperback2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 540px;
}
.-top-100 {
  top: -36.4rem;
  left: -0.5rem;
}

.-left-53 {
  left: -12.7rem;
}
.w-38 {
  width: 9.688rem;
}

.-left-33 {
  left: -8.5rem /* -128px */;
}

.quest {
  color: #f1e3cd;
  text-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  font-family: Cooper Black;
  font-style: normal;
  letter-spacing: 0.15px;
}

.stats {
  color: #fff;
  font-family: Cooper Black;
  font-style: normal;
  letter-spacing: 0.15px;
  font-size: 0.8rem;
}

.name {
  color: #543923;
  font-family: Cooper Black;
  letter-spacing: 0.15px;
}

.stats {
  color: #fff;
  font-family: Cooper Black;
  font-style: normal;
  letter-spacing: 0.176px;
}
